body {
  font: 24px 'Segoe UI Light', Segoe UI, Lucida Sans, Sans;
  color: #444;
  margin: 0;
}
.wrap {
  border-top: 12px solid #666;
  background: #fdfdfd;
  margin: 0 auto;
  width: 960px;
}
h1 {
  text-transform: uppercase;
  padding: 0 30px;
}
a {
  color: #f90;
  text-decoration: none;
}
#accarousel {
  margin: 60px auto;
  width: 960px;
  height: 365px;
  position: relative;
}
#accarousel .inner-mask {
  overflow: hidden;
  margin: 0 auto;
  height: 285px;
}
#accarousel .inner-mask.expanded {
  overflow: visible;
}
#accarousel ul {
  margin: 0;
  padding: 0;
}
#accarousel ul li {
  list-style: none;
  float: left;
  height: 285px;
  width: 189px;
  padding: 0 3px 0 0;
}
#accarousel ul li.disabled a {
  cursor: text;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#accarousel ul li .stand {
  display: block;
  width: 100%;
  height: 285px;
  font-size: 80px;
  line-height: 258px;
  text-align: center;
  background: #000;
}
#accarousel ul li .detail-panel {
  position: absolute;
  left: 50%;
  top: 0;
  height: 384px;
  width: 0;
  margin: -50px 0 0 0;
  z-index: 9999;
  overflow: hidden;
}
#accarousel ul li .detail-panel img {
  width: 100%;
  height: 100%;
}
#accarousel .pager {
  float: right;
  margin: 30px 4px 20px 0;
}
#accarousel .pager li {
  float: left;
  list-style: none;
  margin: 0 0 0 4px;
}
#accarousel .pager li a {
  display: block;
  color: #222;
  border: 1px solid #e0e0e0;
  background: #fafafa;
  font-size: 12px;
  padding: 5px 8px;
}
#accarousel .pager li a:hover, #accarousel .pager li a.active {
  background: #d0d0d0;
  border-color: #b0b0b0;
}
#accarousel .pager li a.disabled, #accarousel .pager li a.disabled:hover {
  border-color: #e0e0e0;
  background: #fafafa;
  font-style: italic;
  cursor: text;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#accarousel .pager.disabled li a, #accarousel .pager.disabled li a.disabled, #accarousel .pager.disabled li a.disabled:hover {
  border-color: #e0e0e0;
  background: #fafafa;
  font-style: italic;
  cursor: text;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#footer {
  font-size: 16px;
  padding: 30px 0 20px;
}
#footer .copy-info {
  border-bottom: 1px dotted #c0c0c0;
  margin: 0 0 10px;
}
